body {

  // 초기화 
  user-select: text;

  *::selection {
    background-color: $blue1;
    color: $white;
  }

  input {
    border: 0;
    background-color: transparent;

    &::placeholder {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }

    &[type="checkbox"] {
      appearance: none;
      border-radius: 3px;
      border: 1px solid #D8D8D8;
      background-color: white;

      transition: all 0.3s;

      &:hover {
        border: 1px solid $color-2C99FF_azure;
      }

      &:checked {
        border: 1px solid $color-2C99FF_azure;
      }
    }
  }

  svg path {
    transition: fill 0.12s;
  }

  a {
    text-decoration: none;
  }

  textarea {
    resize: none;
  }
}