@import 'base';
@import 'module';

@import './components/common/btn';
@import './components/common/icon';

@import './components/layout/header';

@import './pages/home';

.App {
  position: relative;
  margin-top: $header_height;
}