@import 'reset';
// @import 'modules';

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  font-size: 10px;
  scroll-behavior: smooth;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}