// * fix layout
$header_height: 100 * 1px;

// * responsive
$mobile_max: 0px;

// $img_path: 'assets/iamges';
// $icons_path: 'assets/icons';

// * colors
$blue1: #2F78E3;
$pink1: #FF517C;
$orange1: #FF9929;
$white: #FFFFFF;

// $success: 
// $warning:

// * zIndex
$level_0: 0;
$level_1: 9;

$level_max: 9999;