@charset 'utf-8';

@font-face {
  font-family: 'NotoSans';
  src: url('./NotoSansKR.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body{
  font-family: 'NotoSans';
  background-color: aliceblue;
}